@{
    int projectId = ViewBag.ProjectId ?? 0;
    int fileType = ViewBag.FileType ?? 0;
    int recordId = ViewBag.RecordId ?? 0;

    bool isMyPage = ViewBag.My ?? false;

    ViewBag.Title = (isMyPage ? "My " : "") + "Files";
}
@Html.Hidden("MainProjectId", projectId)
@Html.Hidden("MainFileType", fileType)
@Html.Hidden("MainRecordId", recordId)
@Html.Hidden("IsMyPage", isMyPage)

<div class="container-fluid">
    <div class="row bg-w p-15">
        <div class="d-flex v-center h-space-between">
            <h3 class="d-flex v-center">
                <label>@ViewBag.Title <span id="record-span"></span></label>
            </h3>
        </div>
        <hr class="m-y-10" />
        @*<label class="d-block">File Type</label>
        <div class="d-flex v-center h-space-between">
            <div class="filter-by-item f-grow-1 m-r-5">
                <select class="form-control file-type-ddl" id="filter-file-type">
                    <option value="">Select File Type</option>
                </select>
            </div>
            <div class="filter-by-item f-grow-1 m-x-5">
            </div>
            <div class="filter-by-item f-grow-1 m-l-5">
            </div>
        </div>*@
        
        <div class="d-flex v-center h-space-between">
            <div class="filter-by-item f-grow-1 m-x-5 col-lg-3">
                <label>Team</label>
                <select class="form-control teams-ddl" id="filter-team-id" multiple="multiple">
                    <option value="">Select Team</option>
                </select>
            </div>
            <div class="filter-by-item f-grow-1 m-r-5">
                <label>Project</label>
                <select class="form-control projects-ddl" id="filter-project-id">
                    <option value="">Select Project</option>
                </select>
            </div>
            <div class="filter-by-item f-grow-1 m-x-5">
            </div>
            <div class="filter-by-item f-grow-1 m-l-5">
            </div>
            <button type="button" class="btn dv-btn-success btn-xs" data-file-type="@FileType.Projects" data-record-id="" files-ap-action-file-modal-form>
                <i class="fa fa-upload m-r-5"></i> Upload File
            </button>
        </div>
        <hr class="m-y-10" />
        <ul class="files-list files-detail-page-list" id="files-list">
        </ul>
        <div class="clearfix"></div>
        <hr class="m-y-5" />

        @*<div class="user-stories-paging d-flex v-center h-space-between hide">
            <p id="apdt_files_info">Showing <span class="apdt_startfrom">0</span> to <span class="apdt_endto">0</span> of <span class="apdt_total">0</span> records</p>
            <div class="" id="files-paging-container"></div>
        </div>
        <hr class="m-b-0 m-t-10" />*@
    </div>
</div>

@{
    Html.RenderPartial("Lists/_FilesPartial", new PartialModel { FileType = fileType, RecordId = recordId, IsMyPage = isMyPage });
    Html.RenderPartial("Modals/_SaveFileModalPartial", new PartialModel { RecordId = projectId, NoteType = (int)NoteType.Projects });
 }

@section scripts{
    <script src="~/Scripts/js/CookieUtils.js"></script>
    <script src="~/Scripts/js/FileService.js"></script>
    <script src="~/Scripts/js/Files.js"></script>
}

